body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#route-selector {
    margin: 20px;
}

#stop-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.stop {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: left;
}
